# App
NUXT_PUBLIC_APP_NAME="Sistem Kasir"
NUXT_PUBLIC_APP_ENV=development
NUXT_PUBLIC_APP_PROTOCOL=http
NUXT_PUBLIC_APP_HOST=localhost
NUXT_PUBLIC_APP_PORT=3000
NUXT_DEV_HOST=127.0.0.1
NUXT_DEV_PORT=3000
# NUXT_PUBLIC_APP_URL=http://localhost:3000

# API
NUXT_PUBLIC_API_BASE_URL=http://localhost:8000
NUXT_PUBLIC_API_PREFIX=/api
NUXT_PUBLIC_API_TIMEOUT_MS=10000

# Auth
NUXT_AUTH_COOKIE_NAME=auth_session
NUXT_AUTH_SESSION_SECRET=replace-with-secure-random-string
