# -----------------------------------------------------------------------------
# Nuxt & Build outputs
# -----------------------------------------------------------------------------
# Build results are NOT ignored so they can be pushed to GitHub for hPanel deployment
# .output/
# dist/

# Development/internal framework caches (ignored)
.data
.nuxt
.nitro
.cache

# -----------------------------------------------------------------------------
# Node dependencies
# -----------------------------------------------------------------------------
node_modules/

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -----------------------------------------------------------------------------
# Environment Variables
# -----------------------------------------------------------------------------
.env
.env.local
.env.*.local
!.env.example

# -----------------------------------------------------------------------------
# Editor / OS / IDE files
# -----------------------------------------------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
.fleet/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
